*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto',sans-serif;
}

body{
    background:#ECEFF1;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.calculator{
    width:360px;
    background:#fff;
    border-radius:28px;
    overflow:hidden;
    box-shadow:0 15px 40px rgba(0,0,0,.15);
}

.header{
    background:#6750A4;
    padding:25px;
}

#display{
    width:100%;
    border:none;
    outline:none;
    background:transparent;
    color:#fff;
    text-align:right;
    font-size:42px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:12px;
    padding:20px;
}

button{
    height:68px;
    border:none;
    border-radius:20px;
    background:#F5F5F5;
    color:#222;
    font-size:22px;
    cursor:pointer;
    transition:.2s;
}

button:hover{
    transform:scale(.95);
}

button:active{
    transform:scale(.90);
}

.operator{
    background:#E8DEF8;
    color:#6750A4;
    font-weight:bold;
}

.equal{
    background:#6750A4;
    color:white;
}

.clear{
    background:#F44336;
    color:white;
}

.zero{
    grid-column:span 2;
}